<% provide(:title, "About") %>
<h1>Chris Bunnell</h1>
<h2>
  My name is Chris Bunnell and I'm a filmmaker based in Los Angeles. If you have inquiries feel free to email me at cwbunnell@gmail.com 
</h2>